# Copyright (c) Bastiaan de Hart

# Microsoft VScode
.vscode/*
.history/

# JetBrains IDE
idea/*

# NodeJS
node_modules/
package-lock.json
npm-debug.log
yarn-error.log

# MacOS
.DS_Store
.AppleDouble
.LSOverride
._*

# 11ty
_site/
node_modules/
package-lock.json
.cache
