<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="robots" content="noindex,nofollow">
		<link rel="stylesheet" href="/assets/css/index.css">
		<link rel="stylesheet" href="/pagefind/pagefind-ui.css">
	</head>
	<body>
		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>
			<nav>
				<ul class="nav">
					<li class="nav-item"><a href="/">Search</a></li>
					<li class="nav-item"><a href="/tags/js.html">JS</a></li>
					<li class="nav-item"><a href="/tags/css.html">CSS</a></li>
					<li class="nav-item"><a href="/tags/scss.html">SCSS</a></li>
					<li class="nav-item"><a href="/tags/php.html">PHP</a></li>
					<li class="nav-item"><a href="/tags/htaccess.html">Htaccess</a></li>
					<li class="nav-item"><a href="/tags/misc.html">Misc.</a></li>
				</ul>
			</nav>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>
		
		<footer>
			<p id="copyright-notice">Copyright &copy; <span id="copyright-year"></span> Bastiaan de Hart. All rights reserved. Licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0" target="_blank">CC BY-NC-ND 4.0</a></p>
		</footer>

		<script>document.getElementById("copyright-year").innerHTML = new Date().getFullYear();</script>
		<script src="/assets/js/highlight.min.js"></script>
		<script>hljs.highlightAll();</script>
		<script src="/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>
	</body>
</html>